modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Watchtower Server"

[[workflows.workflow]]
name = "Watchtower Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd watchtower/server && PORT=8080 node server.js"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 8080
externalPort = 80
