PORT=8080
API_KEY=changeme_to_a_strong_random_key
EXTENSIONS_REPO_URL=https://raw.githubusercontent.com/kodjodevf/mangayomi-extensions/main
CACHE_TTL_MS=300000
RATE_WINDOW_MS=60000
RATE_MAX_TOKENS=60
